body {
  //  background: black;;;
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.droid {
  font-family: 'Droid Sans', sans-serif;
}

.slabo {
  font-family: 'Slabo 27px', serif;
}

.number {
  font-family: 'Lobster', cursive;
  font-size: 190px;
}

h1 {
  font-family: 'Lobster', cursive;
  text-indent: -9999px;
  background: url('../imgs/header_white.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height:370px;
  //text-align: center;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  h1{
    min-height:470px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

  h1{
    min-height: 667px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  h1{
    min-height: 680px;
  }
}
h2 {

}


#accessibility-bar-info {
  min-height: 3em;
  background-color: @light-bg;
  font-size: 14px;
  //border-radius: 4px;

  ul {
    list-style: none;
    -webkit-padding-start: 0px;

    li {
      display: inline;
      vertical-align: middle;

      span.emule-link:hover {
        text-decoration: underline;
        cursor: not-allowed;
      }
      span.access-key {
        background-color: @dark-gray;
        color: @light-bg;
        padding: 0px 5px;
      }

      a {
        color: @gray-dark;
        padding: 10px 1em 0 0;
        display: inline-block;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

    }

  }
}
.title {
  font-family: 'Lobster', cursive;
  font-size: 55px;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}



.clear {
  clear: both;
  height: 40px;
}

.underline {
  text-decoration: underline;
}
.text {
  margin-bottom: 40px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.legenda {
  font-family: 'Lobster', cursive;
  font-size: 22px;
}

.legenda-certo, .legenda-errado {
  font-family: 'Lobster', cursive;
  font-size: 22px;
}

.legenda-certo {
  color: @brand-success;
}

.legenda-errado {
  color: @brand-danger;
}

.legenda-fundo-escuro {
  color: black;
}

.square {
  display: inline-block;
  min-height: 1em;
  width: 1em;
  font-size: 14px;
  padding: 5px;
  border: 1px solid lighten(@dark-gray, 10%);
}

.black-square {
  background: black;
  border-color: white;
}

.yellow-square {
  background: @amarelo;

  border-color: @gray;

}

.white-square {
  background: white;
  border: 1px solid @gray;
}

.text {
  font-size: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .title {
    font-size: 60px;
    line-height: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .title {
    font-size: 70px;
    line-height: 80px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
.bold {
  font-weight: bold;
}

.border-img {

  border: 2px solid lighten(@gray-light, 10%);

}

.full-width {
  width: 100%;
}

#titulo {
  background-color: @primary-color;
  #numero {
    font-family: 'Lobster', cursive;
    font-size: 180px;
    display: block;
    background: white;
    color: @primary-color;
    text-align: center;
  }

  #recomendacoes {
    margin-top: 30px;
    color: white;
    font-size: 50px;
    text-align: center;
  }

  #acessiveis-usabilidade {
    font-family: 'Slabo 27px', serif;
    border: 3px solid white;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    color: white;
    letter-spacing: -1px;
    margin-top: 30px;
  }

  #para {
    margin-top: 30px;
    font-family: 'Slabo 27px', serif;
    font-size: 45px; //65px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }

  #universidades {
    margin-top: 30px;
    font-family: 'Lobster', cursive;
    display: block;
    text-align: center;
    color: white;
    font-size: 50px; //90

  }

  p {
    margin-top: 30px;
    color: @light-bg;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

  #titulo {
    #numero {
      font-size: 180px;
      text-align: center;
    }

    #recomendacoes {
      text-align: right;
      font-size: 90px;
    }

    #acessiveis-usabilidade {
      font-size: 65px;
      padding: 10px;

    }

    #para {
      font-size: 65px;
    }

    #universidades {
      font-family: 'Lobster', cursive;
      display: block;
      text-align: center;

    }

    p {
      margin-top: 30px;
      color: @light-bg;
    }
  }
}

#acessibilidade-usabilidade {
  background-color: @cold;

  .title {
    color: white;
  }
  .btn {
    width: 100%;
  }

  .box {
    background-color: darken(@cold, 10%);
    //padding:20px;
    .title {
      font-size: 40px;
      margin-bottom: 10px;
      color: inherit;
    }
  }

  .well {
    font-size: 14px;
    min-height: 0;
    padding: 0;
    p {
      padding: 19px;

    }
    .no-padding-bottom {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    ul {
      padding-right: 19px;
    }

    .citacao {
      font-size: 12px;
      margin-left: 15px;
    }
  }
  .objetivo {
    margin-top: 30px;
    font-size: @font-size-base*2;
  }
}

#referencias {
  .title {
    font-family: 'Droid Sans', sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
  }
  ol {
    // padding-left: 0;
    li {
      padding-left: 0;
    }
  }
}

#s1 {
  background-color: @light-bg;

  .title {
    color: @primary-color;
  }

  .text {
    color: @dark-gray;
  }

}

#s2 {
  background-color: @cold;
  .title {
    color: white;
  }

  .text {
    color: white;
  }
}

#s3 {
  background-color: @light-bg;

  .title {
    color: @primary-color;
  }

  .text {
    color: @dark-gray;
  }
}

#s4 {
  background-color: @primary-color;

  .title {
    color: white;
  }

  .text {
    color: @light-bg;
  }

  #accessibility-bar-ex {
    height: 3em;
    background-color: @light-bg;
    font-size: 14px;
    //border-radius: 4px;

    ul {
      list-style: none;
      -webkit-padding-start: 0px;

      li {
        display: inline;
        vertical-align: middle;


        span.emule-link {
          color: @gray-dark;
          padding: 10px 1em 0 0;
          display: inline-block;
          text-decoration: none;
        }

        span.emule-link:hover {
          text-decoration: underline;
          cursor:not-allowed;
        }
        span.access-key {
          background-color: @dark-gray;
          color: @light-bg;
          padding: 0px 5px;
        }

        a {
          color: @gray-dark;
          padding: 10px 1em 0 0;
          display: inline-block;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }

      }

    }
    #portal-siteactions-ex {

      text-align: center;
      text-transform: uppercase;
      a {
        padding: 10px 1em 0 0;
      }
    }

  }
}

@media (min-width: @screen-md-min) {
  #s4 {
    #accessibility-bar-ex {
      #accessibility-ex {
        float: left;
        display: block;
        width: 65%;
      }
      #portal-siteactions-ex {
        float: right;
        display: block;
        width: 35%;
        text-align: right;
      }
    }
  }
}

#s5 {
  ul {
    li {
      list-style: none;
    }
  }
}

#s6:extend(#s1 all) {
  .subtitle {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #s6 {
    .subtitle {
      font-size: 45px;
      margin-bottom: 20px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }

#s7:extend(#s2 all) {
  .well {
    p {
      color: @dark-gray;
    }

    .btn {
      min-width: 8em;
      min-height: 3em;
    }
  }

}

#s8 {
  background-color: @dark-gray;

  .title {
    color: white;
  }

  .text {
    color: @light-bg;
  }
}

#s9 {

  background-image: url("../imgs/site-map.png");
  background-repeat: repeat;
  .title {
    color: @dark-gray;
  }

  .text {
    color: @dark-gray;
  }

}

#s10 {

}

#s11 {
  background-color: @light-bg;

  .title {
    color: @primary-color;
  }

  .text {
    color: @dark-gray;
  }
}

#s12 {
  background-color: @primary-color;

  .title {
    color: white;
  }

  .text {
    color: @light-bg;
  }
}

#s13 {
  background-color: @light-bg;

  .title {
    color: @primary-color;
  }

  .text {
    color: @dark-gray;
  }

  .jumbo {
    font-size: 60px;
  }
}

#s14 {
  background: @dark-gray url("../imgs/404.png") repeat;

  .title {
    color: white;
  }

  .text {
    color: @light-bg;
  }
}

#s15 {
  .title {
    color: @primary-color;
  }
}

#s16 {
  background-color: @light-bg;

  .title {
    color: @primary-color;
  }

  .text {
    color: @dark-gray;
  }
}

#s17 {
  background: @primary-color;

  .title {
    color: white;
  }

  .text {
    color: @light-bg;
  }
}

#s19 {
  background-color: @light-bg;

  .title {
    color: @dark-gray;
  }

  .text {
    color: @dark-gray;
  }
}

#s20 {
  background: @cold;
  .title {
    color: white;
  }

  .text {
    color: @light-bg;
  }
}

#s21 {
  background-color: @light-bg;

  .title {
    color: @dark-gray;
  }

  .text {
    color: @dark-gray;
  }
}

#s22 {
  background-color: @dark-gray;

  .title {
    color: white;
  }

  .text {
    color: white;
  }
}

#s25 {
  background-color: @light-bg;

  .title {
    color: @primary-color;
  }

  .text {
    color: @dark-gray;
  }
}

#s24 {
  background-color: @primary-color;

  .title {
    color: white;
  }

  .text {
    color: @light-bg;
  }
}

#s26:extend(#s22 all) {

}
