body {
//  background: black;;;
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.droid {
  font-family: 'Droid Sans', sans-serif;
}
.title {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}
#s1, #s3, #s5, #s7 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  color: white;
  min-height: 650px;
}

#s2, #s4, #s6, {
  background-color: grey;
  color: black;
  min-height: 650px;
}